{% extends "base.html" %}
{% block title %} Effacer un PRODUCT (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un PRODUCT
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">
					{% if data_products_associes %}
						<h3>Ce product est associé avec le(s) product(s) suivant(s) :</h3>
					{% else %}
						<h3>Ce product à effacer n'est associé à aucun product.</h3>
					{% endif %}
					{% if data_products_associes %}
						<thead>
							<tr>
								<th>
									PRODUCT(S)
								</th>
							</tr>
						</thead>
						{% for row in data_products_associes %}
							<tbody>
								<tr>
									<td>
										{{ row.ID_product }}
                                        {{ row.Name_product }}
                                        {{ row.Price_product }}
                                        {{ row.Description_product }}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.ID_product_delete_wtf.label }}<br>
						{{ form_delete.ID_product_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.Name_product_delete_wtf.label }}<br>
						{{ form_delete.Name_product_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.Price_product_delete_wtf.label }}<br>
						{{ form_delete.Price_product_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.Description_product_delete_wtf.label }}<br>
						{{ form_delete.Description_product_delete_wtf(size=32, readonly=true) }}<br>

                        	{% for error in form_delete.ID_product_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

