{% extends "base.html" %}
{% block title %} Afficher ORDER {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Last name
						</th>
						<th class="" >
						  First name
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_user }}
					  </th>
					  <th class="align-middle">
						{{ row.First_name_user }}
					  </th>
                      <th class="align-middle">
						{{ row.Last_name_user }}
					  </th>


					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_products_user_selected', id_film_genres_edit_html=row.id_user) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.OrdersUsers|default("PAS DE ORDER", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun Order.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
