{% extends "base.html" %}
{% block title %} Afficher PRODUCTS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Commandes de tous les utilisateurs.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID_order
                        </th>
                        <th class="align-middle">
                            ID_user
                        </th>
                         <th class="align-middle">
                            ID_product
                        </th>
                         <th class="align-middle">
                            product
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_order}}
						</td>
						<td class="align-middle">
							{{ row.FK_user }}
						</td>
                        <td class="align-middle">
							{{ row.FK_product }}
						</td>
                        <td class="align-middle">
							{{ row.Name_product }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('user_order_update_wtf', id_order_selected_html=row.ID_order) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<!--a class="btn btn-danger" href="{{ url_for('user_order_delete_wtf', id_order_selected_html=row.ID_order)}}" role="button">Delete</a-->
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucunes commandes.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('user_order_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

