{% extends "base.html" %}
{% block title %} Editer un PRODUCT (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Editer une commande
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
                          {{ form.ID_product_wtf.label }}<br>
						    {{ form.ID_product_wtf(size=32) }}<br>

						{{ form.Name_product_wtf.label }}<br>
						{{ form.Name_product_wtf(size=32) }}<br>

                    {{ form.Price_product_wtf.label }}<br>
						{{ form.Price_product_wtf(size=32) }}<br>

                    {{ form.Description_product_wtf.label }}<br>
						{{ form.Description_product_wtf(size=32) }}<br>

					</p>

                    <input type="radio" name="product" id="{{ form.ID_product_wtf }}"> Selectionner ce produit <br>
				</div>
				{{ form.submit(class="btn btn-primary") }}

			</form>
		</div>
	</div>
</div>
{% endblock %}

