{% extends "base.html" %}
{% block title %} Afficher PRODUCTS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Products à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID_product
                        </th>
                        <th class="align-middle">
                            Name_product
                        </th>
                        <th class="align-middle">
                            Price_product
                        </th>
                        <th class="align-middle">
                            Description_product
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_product}}
						</td>
						<td class="align-middle">
							{{ row.Name_product }}
						</td>
                        <td class="align-middle">
							{{ row.Price_product }}
						</td>
                        <td class="align-middle">
							{{ row.Description_product }}
						</td>

						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('products_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('product_update_wtf', id_product_btn_edit_html=row.ID_product) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun product.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('products_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

