{% extends "base.html" %}
{% block title %} Effacer un USER (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un USER
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">

					{% if data_users_associes %}
						<thead>
							<tr>
								<th>
									USER(S)
								</th>
							</tr>
						</thead>
						{% for row in data_users_associes %}
							<tbody>
								<tr>
									<td>
										{{ row.ID_user }}
                                        {{ row.FirstName_user }}
                                        {{ row.LastName_user }}
                                        {{ row.Mail_user }}
                                        {{ row.Password_user }}

									</td>
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.ID_user_delete_wtf.label }}<br>
						{{ form_delete.ID_user_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.FirstName_user_delete_wtf.label }}<br>
						{{ form_delete.FirstName_user_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.LastName_user_delete_wtf.label }}<br>
						{{ form_delete.LastName_user_delete_wtf(size=32, readonly=true) }}<br>

                    {{ form_delete.Mail_user_delete_wtf.label }}<br>
						{{ form_delete.Mail_user_delete_wtf(size=32, readonly=true) }}<br>2

                    {{ form_delete.Password_user_delete_wtf.label }}<br>
						{{ form_delete.Password_user_delete_wtf(size=32, readonly=true) }}<br>

						{% for error in form_delete.ID_user_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

