{% extends "base.html" %}
{% block title %} Afficher USERS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Users à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            First_name_user
                        </th>
                        <th class="align-middle">
                            Last_name_user
                        </th>
                        <th class="align-middle">
                            Mail_user
                        </th>
                        <th class="align-middle">
                            Password_user
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_user}}
						</td>
						<td class="align-middle">
							{{ row.First_name_user }}
						</td>
                        <td class="align-middle">
							{{ row.Last_name_user }}
						</td>
                        <td class="align-middle">
							{{ row.Mail_user }}
						</td>
                        <td class="align-middle">
							{{ row.Password_user}}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('users_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
								<a class="btn btn-warning" href="{{ url_for('user_update_wtf', id_user_btn_edit_html=row.ID_user) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('User_delete_wtf', id_user_btn_delete_html=row.ID_user) }}" role="button">Delete</a>
						</td>

					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun user.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('user_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

