{% extends "base.html" %}
{% block title %} Ajouter un USER (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau USER (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.FirstName_user_wtf.label }}<br>
						{{ form.FirstName_user_wtf(size=32) }}<br>

                    {{ form.LastName_user_wtf.label }}<br>
						{{ form.LastName_user_wtf(size=32) }}<br>

                    {{ form.Mail_user_wtf.label }}<br>
						{{ form.Mail_user_wtf(size=32) }}<br>

                    {{ form.Password_user_wtf.label }}<br>
						{{ form.Password_user_wtf(size=32) }}<br>

					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

